/* Global */

body{
  font-family: Muli, Arimo, Arial, Helvetica, sans-serif;
}
/* Navbar */
.navbar {
  position: relative;
  z-index: 1;
}

.navbar-brand {
  font-family: Muli;
  font-size: 32px;
}

.nav-link {
  font-family: Muli;
}

/* Jumbotron */
.jumbotron {
  background-image: url(../img/background3.jpg);
  background-size: cover;
  height: 400px;
  text-align: center;
  position: relative
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;

}

.jumbotron .display-4 {
  color: white;
  margin-top: 90px;
  font-size: 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron .display-5 {
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 0.7);
  margin-bottom: 40px;
}

/* Info panela */
.info-panel {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -100px;
  background-color: white;
  padding: 30px;
}

.info-panel img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.info-panel h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 20px;
}

/* About */
#aboutTab .about {
  margin-top: 150px;
}

#aboutTab .about h3 {
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#aboutTab .about h3 span {
  font-weight: 500;
  color: #e87f06;
}

#aboutTab .about .img-fluid {
  border-radius: 15px;
}

#aboutTab .about .feature p {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 300;
}

#aboutTab .about .feature i {
  float: left;
  padding: 5px;
  border-radius: 50%;
  color: #6195FF;
  border: 1px solid #6195FF;
  margin-right: 5px;
  margin-top: 3px;
}

/* Pricing Table */

.pricing .card {
  margin-top: 100px;
  border: solid 1px #6195FF;
  border-radius: 15px;
  transition: all 0.2s;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  height: 650px;
}

.pricing hr {
  margin: 5px 0;
}

.pricing .card-title {
  margin: 5px 0;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 400;
}

.pricing .card-price {
  font-size: 20px;
  margin: 0;
}

.pricing ul li {
  margin-top: 20px;
  margin-bottom: 16px;
}

/* 
.pricing .btn {
  font-size: 80%;
  border-radius: 30px;
  letter-spacing: 5px;
  font-weight: bold;
  padding: 16px;
  opacity: 0.7;
  transition: all 0.2s;
  margin-top: 50px;
} */

/* Registration */

.regis{
  margin-top: 100px;
}

.regis h3 {
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 30px;
  text-align: center;
}

.regis span{
  color: #e87f06;
}
.regis .img-fluid {
  border-radius: 15px;
  height: 400px;
}

.regis  p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.contact{
  margin-top: 50px;
}

/* Utility */
.tombol {
  text-transform: uppercase;
  border-radius: 40px;
}

/* Login */

:root{
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, rgb(181, 236, 240), rgba(0, 0, 0, 0));
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Desktop Version */
@media (min-width: 992px) {

  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7)
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
    font-family: Muli;
  }

  .nav-link:hover {
    border-bottom: 3px solid #e87f06;
    display: block;
    padding-bottom: 5px;
  }

  .jumbotron {
    margin-top: -75px;
    height: 600px;

  }

  .jumbotron .display-4 {
    font-size: 60px;
    margin-top: 150px;
  }

  .jumbotron .display-5 {
    font-size: 30px;
  }

  #aboutTab .about h3 {
    text-align: left;
  }

  .regis h3 {
    text-align: left;
  }

  .regis p {
    text-align: left;
  }

  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}